@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --rosa: #e82574;
  --rosa-escuro: #bc1c5c;
  --texto-escuro: #0c0a09;
  --texto-claro: #78716c;
  --branco: #fff;
  --max-width: 75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section-subheader {
  margin-bottom: 0.5rem;
  position: relative;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--texto-escuro);
}

.section-subheader::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(1rem, -50%);
  height: 2px;
  width: 4rem;
  background-color: var(--rosa);
}

.section-header {
  max-width: 600px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--texto-escuro);
}

.section-description {
  max-width: 600px;
  margin-bottom: 1rem;
  color: var(--texto-claro);
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--branco);
  background-color: var(--rosa);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--rosa-escuro);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.logo {
  max-width: 120px;
}

html, body {
  scroll-behavior: smooth;
}

.header {
  background-image: url(../imgs/header.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: none;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav-bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--rosa);
}

.nav-menu-btn {
  font-size: 1.5rem;
  color: var(--branco);
  cursor: pointer;
}

.nav-links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--rosa-escuro);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav-links.open {
  transform: translateY(0);
}

.nav-links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: var(--branco);
  transition: 0.3s;
}

.nav-btn {
  display: none;
}

.header-container {
  padding-block: 10rem 15rem;
}

.header-container p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--branco);
  text-align: center;
  opacity: 0.6;
}

.header-container h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: var(--branco);
  text-align: center;
}

.header-container h1 span {
  color: var(--rosa);
}

.booking-container {
  padding-block: 0;
}

.booking-form {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--branco);
  border-radius: 10px;
  transform: translateY(-50%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.input-group {
  flex: 1 1 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.input-group span {
  font-size: 1.75rem;
  color: var(--rosa);
}

.input-group label {
  font-weight: 500;
  color: var(--texto-escuro);
}

.input-group input {
  display: block;
  width: 100%;
  max-width: 150px;
  padding-block: 5px;
  color: var(--texto-escuro);
  font-size: 0.9rem;
  outline: none;
  border: none;
}

.input-group input::placeholder {
  color: var(--texto-claro);
}

.about-container {
  overflow: hidden;
  display: grid;
  gap: 2rem;
}

.about-img img {
  max-width: 450px;
  margin: auto;
  border-radius: 5px;
}

.room-grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.room-card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.room-card-img {
  position: relative;
  isolation: isolate;
}

.room-card-icons {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  z-index: 1;
}

.room-card-icons span {
  display: inline-block;
  padding: 2px 8px;
  font-size: 1.5rem;
  background-color: var(--branco);
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.room-card-icons span:nth-child(1){
  color: #f472b6;
}

.room-card-icons span:nth-child(2){
  color: #c084fc;
}

.room-card-icons span:nth-child(3){
  color: #60a5fa;
}

.room-card-details {
  padding: 1rem;
}

.room-card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--texto-escuro);
}

.room-card p {
  margin-bottom: 0.5rem;
  color: var(--texto-claro);
}

.room-card h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--texto-claro);
}

.room-card h5 span {
  font-size: 1.1rem;
  color: var(--texto-escuro);
}

.service {
  background-image: url(../imgs/service.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service-container {
  padding-block: 0;
  display: grid;
  grid-template-columns: repeat(2, fr);
}

.service-content {
  grid-column: 1/3;
  padding: 2rem 4rem;
  background-color: var(--branco);
}

.service-list {
  list-style: none;
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.service-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--texto-escuro);
}

.service-list span {
  padding: 5px 12px;
  font-size: 1.75rem;
  color: var(--texto-escuro);
  background-color: var(--texto-claro);
  border-radius: 100%;
}

.service-list li:nth-child(1) span {
  color: #60a5fa;
  background-color: #dbeafe;
}

.service-list li:nth-child(2) span {
  color: #f472b6;
  background-color: #fce7f3;
}

.service-list li:nth-child(3) span {
  color: #c084fc;
  background-color: #f3e8ff;
}

.service-list li:nth-child(4) span {
  color: #fb7185;
  background-color: #ffe4e6;
}

.banner-content {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.banner-card {
  text-align: center;
  flex: 1 1 150px;
}

.banner-card h4 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--texto-escuro);
}

.banner-card p {
  color: var(--texto-claro);
}



@media (width > 576px) {
  .room-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    padding: 2rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-bar {
    padding: 0;
    background-color: transparent;
  }

  .nav-menu-btn {
    display: none;
  }

  .nav-links {
    padding: 0;
    width: unset;
    transform: none;
    position: static;
    flex-direction: row;
    background-color: transparent;
  }

  .nav-btn {
    display: block;
  }

  .nav-links a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--rosa);
    transition: 0.3s;
    transform-origin: left;
  }

  .nav-links a:hover::after {
    width: 100%;
  }
  
  .about-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .room-grid {
  grid-template-columns: repeat(3, 1fr);
}
.service-content {
  grid-column: 2/3;
}

}

@media (width > 1024px) {
  .room-grid {
  gap: 2rem;
  }
}